
{% block content %}

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-login">
                <h4>Login</h4>
                  <p class="section-description">
                        Please fill in your credentials to login to your account.
                  </p>
                 <form action="" class="aa-login-form" method="post">
                    {% csrf_token %}
                     {{ form.as_p }}
                    <button type="submit" class="aa-browse-btn">Login</button><br><br><hr>
                     <a href="{% url 'accounts:signup' %}">Don't have an account?</a>
                    <p class="aa-lost-password" style="text-align: right;margin-top: -21px;"><a href="{% url 'accounts:password_reset' %}">Reset password?</a></p>
                  </form>
                </div>
              </div>
            </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->


{% endblock %}