{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

 <!-- Cart view section -->
   <div class="container">
     <div class="row">
         <div class="aa-myaccount-register">
             <h4>Register</h4>
               <p class="section-description">
                    Please fill in this form to create an account.
               </p>
             <form action="" class="aa-login-form" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <button type="submit" class="aa-browse-btn">Register</button>
              </form>
        </div>
     </div>
   </div>
 <!-- / Cart view section -->


{% endblock %}