<h1>Event Detail</h1><hr/>
<a href="{% url 'eventcalender:home' %}">Home</a><br><br/>
<a href="{% url 'eventcalender:update' event_detail.id %}">Edit Event</a><br><br/>
<a href="{% url 'eventcalender:delete' event_detail.id %}">Delete Event</a><br>
<a href="{% url 'eventcalender:add_member'  event_detail.id %}">Add Member</a><br><br>
<a href="{% url 'eventcalender:remove_event'  event_detail.id %}">Remove Member</a><br><br>

    <h3>Title: {{ event_detail.title }}</h3>
    <p>Description: {{ event_detail.description }}</p>
    <p>Date: {{ event_detail.date }}</p>
    <p>Time: {{ event_detail.time }}</p><hr/>

